<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">

    <meta name="author" content="FastAdmin">

    <link rel="shortcut icon" href="/assets/addons/kaoshi/img/favicon.ico"/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/assets/addons/kaoshi/js/html5shiv.js"></script>
      <script src="/assets/addons/kaoshi/js/respond.min.js"></script>
    <![endif]-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link href="../assets/css/bootstrap.css" rel="stylesheet">

    <link href="../assets/css/sfks-weixin.css" rel="stylesheet">

</head>

<script type="text/javascript" src="/assets/addons/kaoshi/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/addons/kaoshi/js/main.js"></script>
<script type="text/javascript" src="/assets/addons/kaoshi/js/plugin_wx.js"></script>


<body>
<div class="cheader">
    <div class="headerleft">
        <a href="/kaoshi.html"><span class="arrow-left"></span></a>
    </div>
    <h1>用户中心</h1>
    <!--<div class="headeright">-->
    <!--<a href="javascript:;" data-subform="personForm">完成</a>-->
    <!--</div>-->
</div>
<div class="cmain nopad-lr">

    <div class="common_form">
        <form method="post" action="/kaoshi.html" id="personForm">
            <div class="form_group">
                <div class="form_control">
                    <em>姓名</em>
                    <div class="control">
                        <span class="control-detail">米同学</span>
                    </div>
                </div>
                <div class="form_control">
                    <em>性别</em>
                    <div class="control">
                        <span class="control-detail">男</span>
                    </div>
                </div>
                <div class="form_control">
                    <em>邮箱</em>
                    <div class="control">
                        <span class="control-detail">111@qq.com</span>
                    </div>
                </div>
                <div class="form_control">
                    <em>电话</em>
                    <div class="control">
                        <span class="control-detail">13288978888</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="form_group">

            <div class="form_control">
                <em>余额</em>
                <div class="control">
                    <span class="control-detail">0.00</span>
                </div>
            </div>
            <div class="form_control">
                <em>积分</em>
                <div class="control">
                    <span class="control-detail">0</span>
                </div>
            </div>
            <div class="form_control">
                <em>登录时间</em>
                <div class="control">
                    <span class="control-detail">
                        2021-04-03 18:26:47                    </span>
                </div>
            </div>
        </div>
        <div class="form_group">
            <div class="form_single_control">
                <a href="/kaoshi/changepwd.html"><span class="icon_lock1"></span> 重置密码</a>
            </div>
        </div>
        <div class="form_btn">
            <a style="background-color: #D43232;" href="/index/user/logout.html" class="commonbtn">退出</a>
        </div>
    </div>
</div>
</body>


</html>