<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>在线考试系统学生注册</title>
    <!-- Bootstrap core CSS -->
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/login.css}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

<!-- 注册页面头部 -->
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="#">在线考试管理系统>>学生注册</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline mt-2 mt-md-0">
                <a class="btn btn-info mr-sm-2" role="button" th:href="@{/}">已有帐号 现在登录</a>
                <a class="btn btn-outline-success my-sm-0" role="button" th:href="@{/backLogin}">切换到后台登陆</a>
            </form>
        </div>
    </nav>
</header>

<!-- 注册页面主体部分 -->
<main role="main" class="container">
    <div>
        <form th:action="@{/registered}" method="post" class="form-signin">

            <!-- 姓名 -->
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required name="studentName"
                           id="name" placeholder="name">
                </div>
            </div>

            <!-- 账号 -->
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">账号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required name="studentAccount"
                           id="account" placeholder="username">
                    <small id="accounthelp" class="form-text text-muted"></small>
                </div>
            </div>

            <!-- 密码 -->
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" required id="password"
                           name="studentPwd" placeholder="Password">
                </div>
            </div>

            <!-- 性别 -->
            <fieldset class="form-group row">
                <legend class="col-form-label col-sm-2 float-sm-left pt-0">性别</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="studentGender" value="1">
                        <label class="form-check-label">男</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="studentGender" value="0">
                        <label class="form-check-label">女</label>
                    </div>
                </div>
            </fieldset>

            <!-- 班级 -->
            <div class="form-group row">
                <!--由数据库中查询出来-->
                <label class="col-sm-2 col-form-label">班级</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-lg" name="classeId">
                        <option th:each="cla:${allClasees}" th:text="${cla.classeName}"
                                th:value="${cla.classeId}"></option>
                    </select>
                </div>
            </div>

            <!-- 邮箱 -->
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">邮件</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" required id="email"
                           name="studentEmail" placeholder="Enter Email">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
            </div>

            <!-- 操作按钮 -->
            <div class="text-center row">
                <span class="col-sm-3"></span>
                <button class="btn btn-success col-sm-2" type="submit">提交</button>
                <span class="col-sm-2"></span>
                <button class="btn btn-danger col-sm-2" type="reset">重置</button>
            </div>

        </form>
    </div>
</main>
</body>
</html>
